



html { 
	
background-color: #0b0b22;
 color: #E0BC3A;
 

 
 }


a {
    color:  #2ec2f7;
}

a:hover {
    color: #636667;
}
abbr{ color: aliceblue;}





/* Estilos Gerais */
body {
    width: 960px; /* Tamanho fixo para a página inteira */
    margin: 0 auto; /* Centralizar a página */
    font-family: sans-serif; /* Fonte do tipo sans-serif */
}

p {
    text-indent: 1em; /* Indentar os parágrafos em 1em */
}

/* Estilos para Títulos */
h1, h2, h3, h4, h5, h6 {
    text-align: center; /* Alinhar todos os títulos para o centro */
}

h1 {
    font-size: 1.8rem; /* Tamanho do h1 */
}

h2 {
    font-size: 1.4rem; /* Tamanho do h2 */
}

h3 {
    font-size: 1.2rem; /* Tamanho do h3 */
}

/* Seção de Resumo e Principal */
.summary {
    text-align: center; /* Alinhamento da seção de resumo */
}

.main {
    line-height: 1.5; /* Espaçamento entre as linhas para os parágrafos da seção principal */
}

/* Estilos para Abreviaturas */
abbr {
    font-variant: small-caps; /* Fonte em small-caps para abreviaturas */
}

