/* Seletores.css */

/* 1. Muda a cor dos links */
a {
    color: red;
}
a:hover {
    color: lime;
}

/* 2. Customiza parágrafos */
p {
    font-family: Arial, sans-serif;
}
h1 + p {
    font-weight: bold;
}

/* 3. Estiliza a classe .destaque */
.destaque {
    font-family: Arial, sans-serif;
}
p.destaque {
    font-weight: bold;
}
strong.destaque {
    color: red;
}
